/*
   Partition table:
   https://wiki.odroid.com/odroid-xu4/software/partition_table#tab__odroid-xu341
*/

image boot.vfat {
    vfat {
        files = {
            "boot.scr",
            "zImage",
            "exynos5422-odroidxu4.dtb"
        }
    }
    size = 129M
}

image @IMAGE@ {
    size = 4G

    hdimage {
    }

    partition fwbl1 {
        in-partition-table = "no"
        image = "odroid-firmware/bl1.bin.hardkernel"
        offset = 512
        size = 15k
    }

    partition bl2 {
        in-partition-table = "no"
        image = "odroid-firmware/bl2.bin.hardkernel.720k_uboot"
        offset = 15872
        size = 16k
    }

    partition bootloader {
        in-partition-table = "no"
        image = "@BOOTLOADER@"
        offset = 32256
        size = 720k
    }

    partition tzsw {
        in-partition-table = "no"
        image = "odroid-firmware/tzsw.bin.hardkernel"
        offset = 769536
        size = 256k
    }

    partition boot {
        partition-type = 0xC
        image = "boot.vfat"
        offset = 1572864
    }

    partition rootfs {
        image = @IMAGE@.rootfs.ext4
        partition-type = 0x83
    }
}
